.container{
  width: 70%;
  margin: 0 auto;
  background: white;
  padding: 10px;
  color: dimgray;
  font-family: arial;

}
body{
  margin: 0;
  background: lightblue;

}

html, body, .container{
  /* Use min-height to make sure the height remains 100% even when the height of the */
  /* page changes. */
  min-height: 100%;
}

.movie-list{
  list-style: none;
}
.movie-list li{
  border: thin black solid;
  margin: 10px;
  width: 70%;
}
.title-bar{
  border-bottom: thin black solid;
  padding: 5px;
}
.title-bar button{
  float: right;
}
.movie-info li{
  border: none;
}

.inner-message-div{
  border: thin black solid;
  padding: 5px;
  margin: 10px;
}
